[project]
	description = Spring in Practice, Chapter 3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mbane
[access "refs/for/refs/*"]
	read = group user/mbane
	push = group user/mbane
	label-Code-Review = -2..+2 group user/mbane
	label-Verified = -1..+1 group user/mbane
	rebase = group user/mbane
	removeReviewer = group user/mbane
	submit = group user/mbane
[access "refs/heads/*"]
	read = group user/mbane
	create = group user/mbane
	push = +force group user/mbane
	pushMerge = group user/mbane
[access "refs/tags/*"]
	push = +force group user/mbane
	pushTag = group user/mbane
	pushSignedTag = group user/mbane
